<%- include('../../shared/includes/head.ejs', { title: 'All Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%-include('../../shared/includes/header.ejs') %>
  <main>
    <h1>All Your Orders</h1>
    <%-include('../../shared/includes/order-list.ejs') %>
  </main>
</body>
</html>
