main {
	text-align: left;
}

.form-control {
	align-items: flex-start;
}

input[type="file"] {
	border: none;
}

#image-preview {
	width: 10rem;
	height: 10rem;
	object-fit: cover;
}

#image-preview[src=""] {
	display: none;
}
