<%- include('includes/head.ejs', { title: 'Resource Not Found' }) %>
</head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>Resource Not Found!</h1>
      <p>Could not find resource!</p>
    </main>
  </body>
</html>
