<%- include('includes/head.ejs', { title: 'Server Error' }) %>
</head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>Oops! Something went wrong!</h1>
      <p>Sorry, something went wrong on the server. We are trying to fix it as fast as possible.</p>
    </main>
  </body>
</html>
