<div class="product-list-item">
  <img src="<%= product.imagePath %>" alt="<%= product.alt %>" />
  <div class="product-list-item-detail">
    <h3><%= product.name %></h3>
    <form action="/products/<%= product._id %>" method="GET">
      <button class="btn btn-secondary">View Detail</button>
    </form>
  </div>
</div>
