html {
  font-family: sans-serif;
}

body {
  background-color: rgb(22, 32, 22);
  margin: 0;
  color:rgb(22, 32, 22)
}

form {
  width: 40rem;
  margin: 3rem auto 0 auto;
  background-color: rgb(245, 245, 139);
  padding: 1rem;
  border-radius: 6px;
}


form span {
  margin-left: 1rem;
  text-align: center;
  font-size: 0.75rem;
}

label {
  display: block;
  font-weight: 700;
}

input {
  background-color: rgb(245, 245, 139);
  border: 1px solid rgb(48, 48, 245);
  width: 25rem;
  border-radius: 2px;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

button {
  display: block;
  background-color: rgb(194, 170, 34);
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1.25rem;
}