main {
	max-width: 50rem;
}

.post-item-detail {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 10px;
}

.actions ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
