body {
  background-color: rgb(238, 252, 255);
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1rem 0;
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 40rem;
  margin: 2rem auto;
  background-color: rgb(238, 248, 255);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input, textarea, select {
  font: inherit;
  width: 100%;
  display: block;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
  border: 1px solid rgb(223, 230, 247);
  border-radius: 3px;
  padding: 0.5rem;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  background-color: rgb(223, 228, 247);
  border: 2px solid rgb(176, 193, 236);
  outline: none;
}

#terms-section {
  margin: 1rem 0;
}


.form-control-line {
  display: flex;
}

.form-control-line label {
  margin: 0;
}

.form-control-line input {
  width: auto;
  margin-left: 0.25rem;
}

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.4rem 1rem;
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
}

.btn-empty {
  background-color: transparent;
  color: rgb(61, 58, 58);
}

.btn-empty:hover {
  background-color: rgb(195, 211, 252);
  color: rgb(53, 50, 50);
}

.btn-filled {
  background-color: rgb(51, 67, 100);
  color: white;
}

.btn-filled:hover {
  background-color: rgb(34, 61, 119);
  border-color: rgb(34, 61, 119);
  color: white;
}

#actions ul {
  display: flex;
  justify-content: flex-end;
}

#actions li {
  margin-right: 0.25rem;
}