body {
  text-align: center;
  background-color: hsl(18, 37%, 86%);
  margin: 50px;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: hsl(36, 86%, 40%);
}

p {
  font-family: "Fira Sans", sans-serif;
  color: hsl(80, 40%, 50%);
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: hsl(160, 50%, 50%);
}

a:hover {
  color: hsl(100, 50%, 40%);
  text-decoration: underline;
}
