<%- include('../includes/head.ejs', { title: 'Welcome' }) %>
<link rel="stylesheet" href="/styles/customer/product-list.css">
</head>
<body>
  <%-include('../includes/header.ejs') %>
  <main>
    <h1>All Products</h1>
    <section id="product-list">
      <ul>
        <% for (const product of products) { %>
          <li>
            <%-include('../includes/product-list-item.ejs', {product: product}) %>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
</body>
</html>
