html {
  background-color: rgb(243, 233, 255);
}

body {
  font-family: Roboto, sans-serif;
}

header {
  color: rgb(93, 51, 199);
  font-size: 24px;
  text-align: center;
  padding: 32px;
}

header img {
  width: 300px;
  display: inline-block;
}

main {
  margin: 32px auto;
  width: 700px;
  background-color: rgb(119, 74, 216);
  border-radius: 8px;
  color: rgb(249, 238, 252);
  padding: 30px 20px;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover,
a:active {
  background-color: rgb(250, 201, 39);
}

section a {
  color: rgb(40, 9, 48);
  font-weight: 700;
  background-color: rgb(254, 238, 178);
  padding: 5px;
  border-radius: 5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-left: 10px;
  margin-bottom: 10px;
}

.important-note {
  color: rgb(251, 244, 190);
  border-left: 3px solid rgb(247, 211, 82);
}

footer {
  text-align: center;
}

footer a {
  color: rgb(87, 44, 0);
  background-color: rgb(249, 201, 39);
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
}

footer a:hover,
footer a:active {
  background-color: rgb(255, 186, 58);
}
footer p {
  color: rgb(122, 108, 134);
  margin: 0;
}
