<%- include('../shared/includes/head.ejs', { title: 'Not Authorized' }) %>
</head>
  <body>
    <%- include('../shared/includes/header.ejs') %>
    <main>
      <h1>Not Authorized!</h1>
      <p>You are not authorized to view this page and therefore not allowed to access it!</p>
      <p><a href="/" class="btn">Back to safety!</a></p>
    </main>
  </body>
</html>
