<%- include('../shared/includes/head.ejs', { title: 'Resource Not Found' }) %>
</head>
  <body>
    <%- include('../shared/includes/header.ejs') %>
    <main>
      <h1>Resource Not Found!</h1>
      <p>Could not find resource!</p>
      <p><a href="/" class="btn">Back to safety!</a></p>
    </main>
  </body>
</html>
