<%- include('includes/head.ejs', { title: 'Welcome' }) %>
</head>
<body>
  <%-include('includes/header.ejs') %>
  <main>
    <h1>Online Shop</h1>
    <p>Buy and sell stuff from me :)</p>
  </main>
</body>
</html>
