main {
	text-align: center;
}

#auth-form {
	max-width: 20rem;
	margin: 0 auto;
	background-color: var(--color-grey-700);
	padding: 1.5rem;
	border-radius: 3px;
}

#auth-alternative {
	margin-top: 1rem;
}
