#auth-form {
	max-width: 24rem;
	margin: 0 auto;
	background-color: rgb(24, 24, 24);
	padding: 1.5rem;
	border-radius: 3px;
}

#auth-alternative {
	margin-top: 0.5rem;
}

h1 {
	color: rgb(87, 87, 87);
}
