html {
	--color-grey-300: rgb(114, 114, 114);
	--color-grey-400: rgb(73, 73, 73);
	--color-grey-500: rgb(33, 33, 33);
	--color-grey-700: rgb(24, 24, 24);

	--color-primary-400: rgb(163, 141, 94);
	--color-primary-500: rgb(163, 120, 28);
	--color-primary-600: rgb(196, 154, 64);
	--color-primary-700: rgb(139, 107, 36);

	--color-secondary-400: rgb(202, 127, 41);
	--color-secondary-600: rgb(173, 92, 0);

	background-color: var(--color-grey-500);
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 0 auto;
	max-width: 50rem;
}

main {
	margin: 1rem auto;
	width: 90%;
	text-align: left;
	color: white;
}

h1,
h2 {
	margin: 1rem 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-secondary-400);
}

a:hover,
a:active {
	background-color: rgba(150, 132, 132, 0.5);
}

#main-header {
	height: 4rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-secondary-400);
}

#main-header nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#main-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-header li {
	margin: 0 1rem;
}

#logo {
	font-weight: bold;
	font-size: 1.75rem;
}

#main-header a,
#main-header button {
	text-decoration: none;
	color: var(--color-primary-500);
	padding: 0.25rem 0.75rem;
	border-radius: 3px;
}

#main-header a:hover,
#main-header a:active,
#main-header button:hover,
#main-header button:active {
	background-color: rgba(150, 132, 132, 0.5);
}

.btn {
	font: inherit;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
	padding: 0.5rem 1.5rem;
}

.btn-primary {
	background-color: var(--color-secondary-400);
	border: 1px solid var(--color-secondary-400);
	color: white;
}

.btn-secondary {
	background-color: transparent;
	border: 1px solid var(--color-primary-500);
	color: var(--color-secondary-400);
}

.btn-primary:hover,
.btn-primary:active {
	background-color: var(--color-secondary-600);
	border-color: var(--color-secondary-600);
}

.btn-primary.btn-alt {
	background-color: transparent;
	border: none;
	color: rgb(255, 205, 147);
}

#cart-quantity {
	color: white;
	padding: 0 0.75rem;
	border-radius: 16px;
	background-color: var(--color-secondary-400);
}
