.form-control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5rem;
}

h1 {
	color: rgb(87, 87, 87);
}

label {
	margin-bottom: 0.5rem;
}

input,
textarea {
	font: inherit;
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	border: 1px solid rgb(204, 204, 204);
	width: 100%;
	box-sizing: border-box;
	color: rgb(78, 78, 73);
}

input:focus,
textarea:focus {
	border: 1px solid rgb(204, 204, 204);
	outline: none;
}

#input-error {
	background-color: rgb(240, 183, 183);
	color: rgb(189, 6, 6);
	border-radius: 4px;
	text-align: left;
	padding: 1rem 0.75rem;
	margin-bottom: 1rem;
}

#input-error h2,
#input-error p {
	font-size: 0.8rem;
}

#input-error h2 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	margin-bottom: 0.25rem;
}

#input-error p {
	margin: 0;
}

.separator {
	border-bottom: 1px solid var(--color-primary-400);
	margin: 1rem 0;
}
