#product-list {
	margin: 1rem 0;
}
#product-list ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	gap: 10px;
}

.product-list-item {
	background-color: var(--color-grey-700);
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}

.product-list-item h3 {
	margin: 0.5rem 0;
}

.product-list-item img {
	width: 275px;
	height: 150px;
	box-sizing: border-box;
	object-fit: fill;
}

.product-list-item-detail {
	padding: 1rem;
}

.product-list-item-detail button {
	background-color: var(--color-grey-700);
	color: var(--color-primary-500);
	height: 100%;
}
.product-list-item button:hover {
	background-color: var(--color-grey-400);
}

.product-list-item-actions {
	display: flex;
}

.product-list-item-actions .product-delete-btn {
	margin-left: 5px;
}
