.cart-item {
	background-color: var(--color-grey-700);
	padding: 1rem;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.unit-price {
	color: var(--color-grey-400);
}

.cart-item-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-item-actions input {
	padding: 0.5rem 0.25rem;
	background-color: transparent;
	color: var(--color-secondary-400);
	border: none;
}

.cart-item-actions input:disabled {
	color: var(--color-grey-400);
}

.cart-item-actions input[type="number"] {
	border-radius: 4px;
	text-indent: 5px;
	text-align: center;
	font-size: 1.5rem;
	border: 1px solid transparent;
}

.cart-item-actions input[type="number"]:focus-visible {
	outline: none;
	border: 1px solid var(--color-secondary-400);
}

.cart-item-actions input[type="submit"] {
	display: inline;
}

.cart-item-actions input[type="submit"]:hover:enabled {
	text-decoration: underline;
	cursor: pointer;
}

#totals {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-secondary-400);
}

#totals p {
	font-size: 1.25rem;
	font-weight: bold;
}
