<%- include('../includes/head.ejs', { title: 'Welcome' }) %>
<link rel="stylesheet" href="/styles/product-list.css">
</head>
<body>
  <%-include('../includes/header.ejs') %>
  <main>
    <h1>Product Administration</h1>
    <h2>Manage Products</h2>
    <form action="/admin/products/new" method="GET">
      <button class="btn btn-primary">
        Add Product
      </button>
    </form>
    <section id="product-list">
      <ul>
        <% for (const product of products) { %>
          <li>
            <%-include('../../shared/includes/product-list-item.ejs', {product: product}) %>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
</body>
</html>
