<%- include('../../shared/includes/head.ejs', { title: 'Add New Product' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
  <%-include('../../shared/includes/header.ejs') %>
  <main>
    <h1>Update Product</h1>
    <%-include("../../shared/includes/input-error.ejs", { hasError: inputData.hasError, message: inputData.message }) %>
    <%-include("includes/product-form", { submitPath: '/admin/products/' + inputData.id, product: inputData, imageRequired: false}) %>
  </main>
</body>
</html>
