<%- include('includes/head.ejs', { title: 'Server Error' }) %>
</head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>Not Authenticated!</h1>
      <p>You are not authenticated and therefore not allowed to access this page!</p>
    </main>
  </body>
</html>
